<div id="scrollArea" ng-controller="homeCtrl">

<!--PAGE DIV-->
	<div class="container-fluid pageDiv">
<!--NAVBAR-->
		<div class="row">
<!--SECTION ONE : NAVIGATION-->
			<div id="homepage-NavSection">
				<div class="col-xs-6">
					<i class="fa fa-laptop large laptopIcon"></i> <span class="companyName">Websites by Isaac</span>
				</div>
				<div class="col-xs-2 text-center">
					<p ng-click="goToServices()" class="navOption">Services</p>
				</div>
				<div class="col-xs-2 text-center">
					<p ng-click="goToReviews()" class="navOption">Reviews</p>
				</div>
				<div class="col-xs-2 text-center">
					<p class="navOption">About</p>
				</div>
				<div class="col-xs-12 text-center sloganSection">
					<p class="slogan">Beautiful websites, affordable prices.</p>
					<p class="subSlogan">Custom software engineering & web design</p>
				</div>
				<div class="col-xs-12 text-center quoteBtnSection">
					<button
						ng-click="goToContact()"
						type="button" 
						class="btn btn-info btn-lg quoteBtn">
						Get a free quote!
					</button>
				</div>
			</div>
			<br>
			<br>
<!--SECTION TWO : SOLUTIONS-->
			<div class="col-xs-12 solutionsSection">
				<div class="col-xs-12 text-center">
					<br>
					<br>
					<p class="sectionHeader text-center">Innovative Solutions</p>
				</div>
<!--LEFT SUB-SECTION-->
				<div class="col-xs-4">
					<div class="col-xs-8">
						<p class="solutionsHeader"><b>ATTENTION TO DETAILS</b></p>
						<p class="solutionDescription">Before starting, I like to get to know your story, your vision, and your growth needs.</p>
					</div>
					<div class="col-xs-4">
						<i class="fa fa-search solutionsIcon"></i>
					</div>
					<div class="col-xs-8">
						<p class="solutionsHeader"><b>EXPERT PLANNING</b></p>
						<p class="solutionDescription">Each step of the project roadmap will be carefully planned out in advance to ensure on-time results.</p>
					</div>
					<div class="col-xs-4">
						<i class="fa fa-calendar-check-o solutionsIcon"></i>
					</div>
					<div class="col-xs-8">
						<p class="solutionsHeader"><b>AGILE DEVELOPMENT</b></p>
						<p class="solutionDescription">Project staging and progress is communicated to the client throughout the development and production process.</p>
					</div>
					<div class="col-xs-4">
						<i class="fa fa-tasks solutionsIcon"></i>
					</div>
				</div>
<!--CELL PHONE IMG-->
				<div class="col-xs-4 text-center">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  					<!-- Indicators -->
  						<ol class="carousel-indicators">
    						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
    						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
  						</ol>
<!-- Wrapper for slides -->
  						<div id="cellphoneCarousel" class="carousel-inner" role="listbox">
    						<div class="item active" align="center">
      							<img src="public/images/cellphone.png" class="carouselImg">
      							<div class="carousel-caption">
      							</div>
    						</div>
    						<div class="item" align="center">
      							<img src="public/images/cellphone2.png" class="carouselImg">
      							<div class="carousel-caption">
      							</div>
    						</div>
    						<div class="item" align="center">
      							<img src="public/images/cellphone3.png" class="carouselImg">
      							<div class="carousel-caption">
      							</div>
    						</div>
  						</div>
					</div>
				</div>
<!--RIGHT SUB-SECTION-->
				<div class="col-xs-4">
					<div class="col-xs-4">
						<i class="fa fa-code solutionsIcon"></i>
					</div>
					<div class="col-xs-8">
						<p class="solutionsHeader"><b>BUILT TO SCALE</b></p>
						<p class="solutionDescription">Websites are programmed to handle  increases in traffic and future updates. </p>
					</div>
					<div class="col-xs-4">
						<i class="fa fa-lock solutionsIcon"></i>
					</div>
					<div class="col-xs-8">
						<p class="solutionsHeader"><b>SUPER SECURITY</b></p>
						<p class="solutionDescription">Sensitive information like customer passwords and banking info are safely stored on a 3rd party server.</p>
					</div>
					<div class="col-xs-4">
						<i class="fa fa-picture-o solutionsIcon"></i>
					</div>
					<div class="col-xs-8">
						<p class="solutionsHeader"><b>RESPONSIVE DESIGN</b></p>
						<p class="solutionDescription">Websites are designed to fit all devices including laptop, desktop, tablet, and mobile.</p>
					</div>
				</div>
			</div>
			<br>
			<div class="col-xs-12">
				<div class="divider"></div>
			</div>
<!--SECTION THREE : SERVICES-->
			<span id="services"></span>
			<div class="col-xs-12">
				<div class="col-xs-12 text-center">
					<br>
					<br>
					<p class="sectionHeader text-center">Pro Services</p>
				</div>
				<div class="col-xs-4"></div>
				<div class="col-xs-4">
					<div class="sectionHeaderUnderline"></div>
					<br>
					<br>
				</div>
				<div class="col-xs-4"></div>
				<div class="col-xs-6 text-center">
					<p class="serviceHeader">ECOMMERCE</p>
					<img src="public/images/ecommerce.jpg" class="serviceImg hideme" />
				</div>
				<div class="col-xs-6 text-center">
					<p class="serviceHeader">INDEPENDENT CONTRACTING</p>
					<img src="public/images/professional.jpg" class="serviceImg hideme" />
				</div>
				<div class="col-xs-6 text-center">
					<p class="serviceHeader">SOCIAL MEDIA</p>
					<img src="public/images/socialmedia.jpg" class="serviceImg hideme"/>
				</div>
				<div class="col-xs-6 text-center">
					<p class="serviceHeader">EDUCATIONAL</p>
					<img src="public/images/education.jpg" class="serviceImg hideme"/>
				</div>
				<div class="col-xs-6 text-center">
					<p class="serviceHeader">BLOG</p>
					<img src="public/images/blog.jpg" class="serviceImg hideme"/>
				</div>
				<div class="col-xs-6 text-center">
					<p class="serviceHeader">RESUME</p>
					<img src="public/images/resume.jpg" class="serviceImg hideme"/>
				</div>
			</div>
<!--SECTION FOUR : REVIEWS-->
			<span id="reviews"></span>
			<div class="col-xs-12">
				<div class="divider"></div>
			</div>
			<div id="carousel-example" class="carousel slide" data-ride="carousel">
    			<!-- Wrapper for slides -->
    			<div class="row">
        			<div class="col-xs-12">
            			<div class="carousel-inner">
                			<div class="item active">
                    			<div class="carousel-content">
                    				<div class="col-xs-1"></div>
                    				<div class="col-xs-1">
                            			<img 
                            				src="public/images/giuliano.jpg" 
                            				class="reviewImg"/>
                        			</div>
                        			<div class="col-xs-3">
                        				<p class="reviewName"><b>GIULIANO IACOBELLI</b></p>
                            			<p class="reviewTitle">CEO, <i>Stamplay</i></p>
                        			</div>
                        			<div class="col-xs-6 reviewSection">
                        				<p class="reviewDescription">
                        				Isaac is very professional and pleasure to work. With his constant communication every step of the way, I felt peace of mind knowing what was happening with my application from start to finish. If you need a website, Isaac is your guy!
                        				</p>
                        			</div>
                        			<div class="col-xs-1"></div>
                    			</div>
                			</div>
                			<div class="item">
                    			<div class="carousel-content">
                        			<div class="col-xs-1"></div>
                    				<div class="col-xs-1">
                            			<img 
                            				src="public/images/Kandy.jpg" 
                            				class="reviewImg"/>
                        			</div>
                        			<div class="col-xs-3">
                        				<p class="reviewName"><b>KANDIANNE PIERRE</b></p>
                            			<p class="reviewTitle">Director, <i>Coder Camps LLC</i></p>
                        			</div>
                        			<div class="col-xs-6 reviewSection">
                        				<p class="reviewDescription">
                        				I had a great experience working with Isaac on my project. He was very insightful to my business needs and gave me many great suggestions for my website. Thanks Isaac! 
                        				</p>                     				
                        			</div>
                        			<div class="col-xs-1"></div>
                				</div>
                			</div>
                			<div class="item">
                    			<div class="carousel-content">
                        			<div class="col-xs-1"></div>
                    				<div class="col-xs-1">
                            			<img 
                            				src="public/images/phil.jpg" 
                            				class="reviewImg"/>
                        			</div>
                        			<div class="col-xs-3">
                        				<p class="reviewName"><b>PHIL LANPHAR</b></p>
                            			<p class="reviewTitle">CTO, <i>Software Ops LLC</i></p>
                        			</div>
                        			<div class="col-xs-6 reviewSection">
                        				<p class="reviewDescription">
                        				Finally, I found someone who can build a website at a reasonable price with great results. Isaac exceeded expectations and delivered 110% on my project, will hire again for future projects.
                        				</p>                     				
                        			</div>
                        			<div class="col-xs-1"></div>
                				</div>
                			</div>
            			</div>
        			</div>
    			</div>
			</div>
			
<!--SECTION FIVE : BRANDS-->
			<div class="col-xs-12">
				<div class="dividerReview"></div>
			</div>
			<div class="col-xs-2">
				<img src="public/images/codercamps.png" id="codercampsImg"/>
			</div>
			<div class="col-xs-1 white">.</div>
			<div class="col-xs-2 text-right">
				<img src="public/images/stamplay.png" id="stamplayImg"/>
			</div>
			<div class="col-xs-1 white">.</div>
			<div class="col-xs-2 text-right">
				<img src="public/images/wordpress.gif" id="wordpressImg"/>
			</div>
			<div class="col-xs-1 white">.</div>
			<div class="col-xs-2 text-right">
				<img src="public/images/shopify.gif" id="shopifyImg"/>
			</div>
<!--SECTION SIX : BENEFITS-->
			<div class="col-xs-12">
				<div class="dividerReview"></div>
			</div>
			<div class="col-xs-12">
				<br>
				<br>
				<p class="sectionHeader text-center">Benefits</p>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-1 text-right">
				</div>
				<div class="col-xs-5 benefitsSection">
					<i class="fa fa-globe benefitsIcon-bottom"></i>
					<span class="benefitsHeader"><b>GLOBAL EXPOSURE</b></span>
					<p class="benefitsDescription">Share your ideas or business with a worldwide audience.
					</p>
					<i class="fa fa-usd benefitsIcon-bottom"></i>
					<span class="benefitsHeader"><b>ACCELERATED GROWTH</b></span>
					<p class="benefitsDescription">Watch your business grow in sales and revenue via your commercial web space.
					</p>
					<i class="fa fa-trophy benefitsIcon-bottom"></i>
					<span class="benefitsHeader"><b>COMPETITIVE EDGE</b></span>
					<p class="benefitsDescription">A beautiful, easy-to-use website is sure to give you a big advantage over your competitors.
					</p>
				</div>
				<div class="col-xs-6 computerSection">
					<img src="public/images/computer.gif" id="computerImg"/>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="divider"></div>
			</div>
<!--SECTION SEVEN : CONTACT FORM-->
			<div class="col-xs-12">
				<br>
				<br>
				<br>
				<br>
				<p class="sectionHeader text-center">Let's talk about your project!</p>
			</div>
			<br>
			<br>
			<div class="col-xs-12 quoteSection">
				<div class="col-xs-4"></div>
				<div class="col-xs-4">
					<div class="contactForm">
						<span id="contact"></span>
						<br>
						<p class="contactFormHeader text-center">Contact Me</p>
						<p class="contactFormEmail text-center">isaac.grey@websitesbyisaac.com
						</p>
						<p class="contactFormPhone text-center">(415) 996-7992</p>
						<p class="contactFormInputHeader-top">Name (Required)*</p>
						<div class="input-group">
  							<span 
  								class="input-group-addon" 
  								id="basic-addon1">
  								<i class="fa fa-user"></i>
  							</span>
  							<input type="text" class="form-control" aria-describedby="basic-addon1">
						</div>
						<p class="contactFormInputHeader-top">Email (Required)*</p>
						<div class="input-group inputSection">
  							<span 
  								class="input-group-addon" 
  								id="basic-addon1">
  								<i class="fa fa-envelope-o"></i>
  							</span>
  							<input type="text" class="form-control" aria-describedby="basic-addon1">
						</div>
						<p class="contactFormInputHeader-top">Phone Number (Required)*</p>
						<div class="input-group inputSection">
  							<span 
  								class="input-group-addon" 
  								id="basic-addon1">
  								<i class="fa fa-phone"></i>
  							</span>
  							<input type="text" class="form-control" aria-describedby="basic-addon1">
						</div>
						<p class="contactFormInputHeader-top">Message</p>
						<textarea class="contactFormMessage"></textarea>
						<button 
							type="button" 
							class="btn btn-warning btn-lg submitBtn">
							Submit
						</button>
					</div>
				</div>
				<div class="col-xs-4"></div>
			</div>
<!--FOOTER--> 
			<div class="col-xs-12 text-center">
				<p class="footer">Copyright © 2016 Websites by Isaac - Los Angeles, CA.</p>
			</div>
<!--CLOSING PAGE DIV-->
		</div>
<!--CLOSING CTRL DIV-->
	</div>

<script>

//CAROUSEL
	$('.carousel').carousel({
  		// interval: 2000
	});

//FADE IN IMAGE
	$(document).ready(function() {
    /* Every time the window is scrolled ... */
    	$(window).scroll( function(){
        	/* Check the location of each desired element */
    		$('.hideme').each( function(i){
            	var bottom_of_object = $(this).offset().top + 50;
            	var bottom_of_window = $(window).scrollTop() + $(window).height();
            	/* If the object is completely visible in the window, fade it it */
            	if( bottom_of_window > bottom_of_object ){
                	$(this).animate({'opacity':'1'},500);
            	}
        	}); 
    	});
	});

	// $(document).ready(function(){
 //       $('.parallax').scrolly({bgParallax: true});
 //    });

// jQuery( document ).ready(function() {

	// jQuery(".primary-image").fallings({
	// 	velocity: 0.5,
	//  	bgParallax: true,
     	// bgPercent: '50%'
	// });

    // jQuery(".primary-image").fallings({
    //     velocity: 0.1,
    //     bgParallax: true,
    //     bgPercent: '10%'
    // });

    // $(".footer-image").fallings({
    //     velocity: 0.3,
    //     initialPosition: 100,
    //     bgParallax: true,
    //     bgPercent: '50%'
    // });

// });

</script>