body, html {
	font-family: "Open Sans" !important;
}

/*HOME PAGE*/
#homepage-NavSection{
	height: 800px;
	padding-left: 40px;
	padding-top: 10px;
	background-color: #F8F8F8;
}
.laptopIcon{
	font-size: 40px;
	color: #383838;
}
.companyName{
	font-size: 40px;
	font-weight: bold;
	color: #383838;
}
.navOption{
	padding-top: 30px;
}
.sloganSection{
	margin-top: 200px;
}
.slogan{
	font-size: 50px;
	color: #383838;
}
.subSlogan{
	font-size: 25px;
	color: #383838;
}
.quoteBtnSection{
	margin-top: 60px;
}
.quoteBtn{
	outline: none !important;
	width: 30%;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 50px;
}
.homepageSection{
	height: 580px;
}
.sectionHeader{
	font-size: 50px;
	color: #383838;
}
.cellphoneImg{
	margin-top: 60px;
}
.solutionsHeader{
	font-size: 20px;
	color: #383838;
	margin-top: 70px;
}
.solutionsIcon{
	font-size: 50px;
	margin-top: 100px;
}
.solutionDescription{
	font-size: 18px;
}
