body, html {
	font-family: "Open Sans" !important;
	min-height: 100vh;
}
.pageDiv{
	padding:0px;
}
/*SECTION 1: NAVIGATION*/
.parallax-window {
    min-height: 400px;
    background: transparent;
}
#homepage-NavSection{
	height: 800px;
	padding-left: 40px;
	padding-top: 10px;
	background-image: url("/public/images/mars.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.laptopIcon{
	font-size: 40px;
	color: #383838;
}
.companyName{
	font-size: 40px;
	font-weight: bold;
	color: #000;
	margin-left: 10px;
	font-family: "Rock Salt";
}
.navOption{
	padding-top: 30px;
	color: #383838;
	cursor: pointer;
	font-weight: bold;
}
.navOption:hover{
	padding-top: 30px;
	color: #000;
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;

}
.sloganSection{
	margin-top: 130px;
}
.slogan{
	font-size: 60px;
	color: #000;
}
.subSlogan{
	font-size: 35px;
	color: #000;
}
.quoteBtnSection{
	margin-top: 30px;
}
.quoteBtn{
	outline: none !important;
	width: 30%;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 50px;
}
/*SECTION 2: SOLUTIONS*/
.solutionsSection{
	margin-top: 20px;
}
.sectionHeader{
	font-size: 50px;
	color: #383838;
	margin-top: 70px;
	margin-bottom: 0px;
	font-family: "Rock Salt";
}
.sectionHeaderUnderline{
	background-color: #48A3F4;
	height: 5px;
}
.carousel-inner{
	background-color: #fff !important;
}
#cellphoneCarousel{
	background-color: #fff !important;
}
.carousel-control.left{
	background-color: none;
	background-image: none;
}
.carousel-control.right{
	background-color: none;
	background-image: none;

}
#carousel-example-generic{
	background-color: #fff !important;
	color: #fff;
	margin-top: 60px;
}
.solutionsHeader{
	font-size: 20px;
	color: #383838;
	margin-top: 70px;
}
.solutionsIcon{
	font-size: 50px;
	margin-top: 100px;
}
.solutionDescription{
	font-size: 18px;
}
/*SECTION 3: SERVICES*/
.divider{
	border-top: 1px solid #cccccc;
	margin-top: 70px;
}
.serviceImg{
	width: 100%;
	max-height: 80vh;
}
.serviceHeader{
	font-size: 20px;
	color: #383838;
	margin-top: 40px;
	font-weight: bold;
}
/*SECTION 4: REVIEWS*/
.reviewImg{
	margin-top: 70px;
	border-radius: 50%;
	border:10px double #EEEEEE;
	height: 100px;
	width: 100px;
}
.reviewName{
	margin-top: 90px;
	margin-left: 20px;
	font-size: 18px;
}
.reviewTitle{
	margin-left: 20px;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 90px;
}
.reviewSection{
	margin-top: 20px;
	height: 250px;
	border-left: 1px solid #cccccc;
}
.reviewDescription{
	font-size: 22px;
	margin-top: 70px;
	margin-left: 30px;
}
.dividerReview{
	border-top: 1px solid #cccccc;
	margin-top: 20px;
}
/*SECTION 5: BRANDS*/
#codercampsImg{
	width: 100%;
	margin-top: 40px;
	margin-left: 30px;
}
#stamplayImg{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 30px;
}
#wordpressImg{
	width: 100%;
	margin-top: 40px;
}
#shopifyImg{
	width: 100%;
	margin-top: 15px;
}
.white{
	color: #fff;
}
/*SECTION 6: BENEFITS*/
#computerImg{
	width: 100%;
}
.benefitsHeader{
	font-size: 22px;
	margin-top: 150px;
	margin-left: 10px;
	color: #383838;
}
.benefitsIcon-top{
	font-size: 40px;
}
.benefitsIcon-bottom{
	margin-top: 80px;
	font-size: 40px;
}
.benefitsDescription{
	font-size: 18px;
	margin-left: 50px;
}
.benefitsIcon-bottom{
	font-size: 40px;
}
.benefitsSection{
	margin-top: 40px;
}
.computerSection{
	padding:0px;
	margin-top: 90px;
}
/*SECTION 7: QUOTE*/
.quoteSection{
	background-image: url("/public/images/mars2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
	margin-top: 60px;
}
.contactForm{
	margin-top: 100px;
	background-color: #fff;
	border-radius: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
.contactFormHeader{
	font-size: 50px;
	color: #383838;
	margin-bottom: 0px;
}
.contactFormEmail{
	font-size: 22px;
	margin-top: 30px;
}
.contactFormPhone{
	font-size: 22px;
	color: #000;
}
.contactFormInputHeader-top{
	font-size: 18px;
	color: #000;
	margin-top: 30px;
}
.contactFormMessage{
	width: 100%;
	height: 100px;
	border:1px solid #cccccc;
}
.submitBtn{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	outline: none !important;
}
.footer{
	margin-top: 70px;
	margin-bottom: 70px;
	font-size: 18px;
	color: #000;
}
