body, html {
	font-family: "Open Sans" !important;
}

/*SECTION 1: NAVIGATION*/
#homepage-NavSection{
	height: 800px;
	padding-left: 40px;
	padding-top: 10px;
	background-color: #F8F8F8;
}
.laptopIcon{
	font-size: 40px;
	color: #383838;
}
.companyName{
	font-size: 40px;
	font-weight: bold;
	color: #383838;
}
.navOption{
	padding-top: 30px;
}
.sloganSection{
	margin-top: 200px;
}
.slogan{
	font-size: 50px;
	color: #383838;
}
.subSlogan{
	font-size: 25px;
	color: #383838;
}
.quoteBtnSection{
	margin-top: 60px;
}
.quoteBtn{
	outline: none !important;
	width: 30%;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 50px;
}
/*SECTION 2: SOLUTIONS*/
.sectionHeader{
	font-size: 50px;
	color: #383838;
	margin-bottom: 0px;
}
.sectionHeaderUnderline{
	background-color: #48A3F4;
	height: 5px;
}
.cellphoneImg{
	margin-top: 60px;
}
.solutionsHeader{
	font-size: 20px;
	color: #383838;
	margin-top: 70px;
}
.solutionsIcon{
	font-size: 50px;
	margin-top: 100px;
}
.solutionDescription{
	font-size: 18px;
}
/*SECTION 3: SERVICES*/
.divider{
	border-top: 1px solid #cccccc;
	margin-top: 70px;
}
.serviceImg{
	width: 100%;
	max-height: 80vh;
}
.serviceHeader{
	font-size: 20px;
	color: #383838;
	margin-top: 40px;
	font-weight: bold;
}
/*SECTION 4: REVIEWS*/
.reviewImg{
	margin-top: 70px;
	border-radius: 50%;
	border:10px double #EEEEEE;
}
.reviewName{
	margin-top: 90px;
	margin-left: 20px;
	font-size: 18px;
}
.reviewTitle{
	margin-left: 20px;
	font-size: 18px;
	margin-top: 0px;
}
.reviewSection{
	margin-top: 20px;
	height: 250px;
	border-left: 1px solid #cccccc;
}
.reviewDescription{
	font-size: 22px;
	margin-top: 50px;
	margin-left: 30px;
}
.dividerReview{
	border-top: 1px solid #cccccc;
	margin-top: 20px;
}
/*SECTION 5: BRANDS*/
#codercampsImg{
	width: 100%;
	margin-top: 40px;
	margin-left: 30px;
}
#stamplayImg{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 30px;
}
#wordpressImg{
	width: 100%;
	margin-top: 40px;
}
#shopifyImg{
	width: 100%;
	margin-top: 15px;
}
.white{
	color: #fff;
}